.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
.container-about h1{
    font-family: 'Monument';
    color: white;
    font-size: 100px;
    text-transform: uppercase;

}
.about-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    overflow: hidden;
    background-color: yellow;
}
.about-overlay{
    background: url(./Assets/img3.jpg) 50% 50% no-repeat;
    background-size: cover;
}